@import url("https://fonts.googleapis.com/css2?family=Hind:wght@600&family=Hubballi&display=swap");

:root {
  /** Colors */
  --bg-color: #4a3933;
  --links-color: #f0a500;
  --links-hover: #e45826;
  --text-color: #e6d5b8;
  /** Fonts  */
  --text-font: "Hubballi", cursive;
  --links-header-font: "Hind", sans-serif;
  --radius: 5px;
  --solid-shadow: rgba(50, 50, 93, 0.568) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  --dark-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --light-shadow: rgba(42, 43, 44, 0.2) 0px 8px 24px;
  --Header-text-shadow: 1px 1px #f90, 2px 2px rgb(255, 158, 13), 3px 3px rgb(253, 162, 25), 4px 4px rgb(252, 167, 40),
    5px 5px rgb(250, 177, 67), 6px 6px rgb(250, 192, 106), 7px 7px rgb(247, 200, 130);
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--bg-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
