.links p {
  font-size: 1.5rem;
  color: var(--text-color);
  text-shadow: var(--solid-shadow);
  font-family: var(--links-header-font);
  margin: 10px 0;
  cursor: pointer;
  text-transform: uppercase;
  line-height: 2;
}

.links p:hover {
  text-shadow: var(--Header-text-shadow);
  color: #fde9cb;
}

.links .active {
  color: #fde9cb;
  text-shadow: var(--Header-text-shadow);
  transform: scale(1.8);
}

.groupContainer {
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@media screen and (max-height: 420px) {
  .groupContainer {
    margin-top: 6rem !important;
  }
}


